# This folder does not require access over HTTP
# (the following directive denies access by default)
Options +FollowSymLinks
RewriteEngine On

RewriteRule ^([A-Za-z]+)/$ Controller.php?class1=$1 [NC,L]
RewriteRule ^([A-Za-z]+)/([0-9]+)$ Controller.php?class1=$1&id1=$2 [NC,L]
RewriteRule ^([A-Za-z]+)/([0-9]+)/$ Controller.php?class1=$1&id1=$2 [NC,L]
RewriteRule ^([A-Za-z]+)/([A-Za-z]+)/$ Controller.php?class1=$1&class2=$2&id1=null&id2=null [NC,L]
RewriteRule ^([A-Za-z]+)/([A-Za-z]+)/([0-9]+)/?$ Controller.php?class1=$1&class2=$2&id1=$3&id2=null [NC,L]
RewriteRule ^([A-Za-z]+)/([A-Za-z]+)/([0-9]+)/([0-9]+)/?$ Controller.php?class1=$1&class2=$2&id1=$3&id2=$4 [NC,L]