# This folder does not require access over HTTP
# (the following directive denies access by default)
Options +FollowSymLinks
RewriteEngine On

RewriteRule ^User/([0-9]+)/?$ User.php?id=$1 [NC,L]
RewriteRule ^User/Login/?$ User.php?cat=login [NC,L]
RewriteRule ^User/Contacts/([0-9]+)/?$ User.php?cat=contacts [NC,L]
RewriteRule ^User/Schedule/([0-9]+)/?$ User.php?cat=schedule [NC,L]
RewriteRule ^User/Groups/([0-9]+)/?$ User.php?cat=groups [NC,L]
RewriteRule ^User/Users/?$ User.php?cat=users [NC,L]
RewriteRule ^User/Projects/([0-9]+)/?$ User.php?cat=projects [NC,L]
RewriteRule ^User/Tasks/([0-9]+)/?$ User.php?cat=tasks&id=$1 [NC,L]
RewriteRule ^User/Meetings/([0-9]+)/?$ User.php?cat=meetings&id=$1 [NC,L]
RewriteRule ^User/([0-9]+)/?$ User.php?id=$1 [NC,L]
RewriteRule ^User/?$ User.php [NC,L]

RewriteRule ^Note/?$ Note.php [NC,L]
RewriteRule ^Note/([0-9]+)/?$ Note.php?noteID=$1 [NC,L]
RewriteRule ^Note/Comments/([0-9]+)/$ User.php?cat=Comments&noteID=$1 [NC,L]

RewriteRule ^Meeting/$ Meeting.php [NC,L]
RewriteRule ^Meeting/([0-9]+)/?$ Meeting.php?meetingID=$1 [NC,L]
RewriteRule ^Meeting/Notes/?$ Meeting.php?cat=notes [NC,L]
RewriteRule ^Meeting/Tasks/?$ Meeting.php?cat=tasks [NC,L]

RewriteRule ^Task/?$ Task.php [NC,L]
RewriteRule ^Task/([0-9]+)/?$ Task.php?id=$1 [NC,L]

RewriteRule ^Comment/?$ Comment.php [NC,L]
RewriteRule ^Comment/([0-9]+)/?$ Comment.php?id=$1 [NC,L]

RewriteRule ^Agenda/?$ Agenda.php [NC,L]
RewriteRule ^Agenda/([0-9]+)/?$ Agenda.php?id=$1 [NC,L]

RewriteRule ^Notification/([0-9]+)/?$ Notification.php?id=$1 [NC,L]

RewriteRule ^Project/?$ Project.php [NC,L]
RewriteRule ^Project/([0-9]+)/?$ Project.php?id=$1 [NC,L]

RewriteRule ^Group/?$ Group.php [NC,L]
RewriteRule ^Group/([0-9]+)/?$ Group.php?id=$1 [NC,L]
