# This folder does not require access over HTTP
# (the following directive denies access by default)
Options +FollowSymLinks
RewriteEngine On

RewriteRule ^Index/Login/$ Index.php?cat=login [NC,L]
RewriteRule ^Index/Contacts/[0-9]/$ Index.php?cat=contacts [NC,L]
RewriteRule ^Index/Schedule/[0-9]/$ Index.php?cat=schedule [NC,L]
RewriteRule ^Index/Groups/[0-9]/$ Index.php?cat=groups [NC,L]
RewriteRule ^Index/Projects/[0-9]/$ Index.php?cat=projects [NC,L]
RewriteRule ^Index/Tasks/[0-9]/$ Index.php?cat=tasks [NC,L]
RewriteRule ^Index/[0-9]/$ Index.php?id=$1 [NC,L]
RewriteRule ^Index/$ Index.php [NC,L]

RewriteRule ^Note/$ Note.php [NC,L]
RewriteRule ^Note/[0-9]/$ Note.php?noteID=$1 [NC,L]
RewriteRule ^Note/Comments/[0-9]/$ User.php?cat=Comments&noteID=$1 [NC,L]

RewriteRule ^Meeting/$ Meeting.php [NC,L]
RewriteRule ^Meeting/[0-9]/$ Meeting.php?meetingID=$1 [NC,L]
RewriteRule ^Meeting/Notes/$ Meeting.php?cat=notes [NC,L]
RewriteRule ^Meeting/Tasks/$ Meeting.php?cat=tasks [NC,L]
