
<form name='input' id='editNote' onsubmit='updateEditedValues()'>
	<h5>Note Title</h5>
	<input id="titleE" class="form-control newTitle" name="title" type="text" />

	<h5>Description</h5>
	<input id="descE" class="form-control newType" name="type" type="text" />

	<h5>Content</h5>
	<input id="contentE" class="form-control newDesc" name="content" type="text" size="10" />
</form>