<form id='editAgendaForm'>
	<!-- Agenda Title -->		
	<strong><span class="viewLabel">Topic:</span></strong>
	<br />
	<input type="text" id="AtitleE" name="title" class="form-control" />

	<br />

	<!--Agenda Created By -->
	<strong><span class="viewLabel">Created By:</span></strong>
	<br />
	<span class="viewData" id="AuserIDE"></span>

	<br />

	<!-- Agenda Meeting -->		
	<strong><span class="viewLabel">Meeting:</span></strong>
	<br />
	<select id="AmeetingIDE" name="meeting" class="form-control"></select>

	<br />

	<!--Agenda Content -->
	<strong><span class="viewLabel">Content:</span></strong>
	<br />
	<strong><span class="viewData">Topic:</span></strong>
	<input type="text" id="AcontentTitleE" name="contentTitle" class="form-control"/>
	<br />
	<br />		
	<strong><span class="viewData">Duration:</span></strong>
	<input type="text" id="AcontentTimeE" name="contentTime" class="form-control"/>
	<br />
	<br />		
	<strong><span class="viewData">Description:</span></strong>
	<textarea id="AcontentDescriptionE" name="contentDescription" class="form-control"></textarea>

	<br />
</form>
