<form id='editNoteForm'>
	<!-- Note Title -->		
	<strong><span class="viewLabel">Topic:</span></strong>
	<br />
	<input type="text" id="NtitleE" name="title" class="form-control" />
	<span id="NtitleER" class="required"> Required </span>

	<br />

	<!-- Note Content -->		
	<strong><span class="viewLabel">Content:</span></strong>
	<br />
	<textarea id="NcontentE" name="content" class="form-control"></textarea>
	<span id="NcontentER" class="required"> Required </span>

	<br />

	<!-- Note Description -->		
	<strong><span class="viewLabel">Description:</span></strong>
	<br />
	<textarea id="NdescriptionE" name="description" class="form-control"></textarea>
	<span id="NdescriptionER" class="required"> Required </span>

	<br />

	<!--Note Date Created -->
	<strong><span class="viewLabel">Date Created:</span></strong>
	<br />
	<span class="viewData" id="NdateCreatedE"></span>
</form>
