<span>* Indicates required fields.</span>

<form name='input' id='createDocument' onsubmit='submitCreateModal()'>
	<h5>Note Title</h5>
	<input name='title' type='text' id='newTitle' class='form-control' placeholder='Title' />
	<h5>Description</h5>
	<input name='description' type='text' id='newType' class='form-control' placeholder='Description' />
	<h5>Content</h5>
	<input name='content' type='text' id='newDesc' class='form-control' placeholder='Content' />
</form>