<span>* Indicates required fields.</span>

<form name='input' id='createAgenda' onsubmit='validateDocument()'>
	<h5>Agenda Title</h5>
	<input name='title' type='text' id='newTitle' class='form-control' placeholder='Title' />
	<h5>Content</h5>
	<input name='contentTitle' type='text' id='contentTitle' class='form-control' placeholder="Content Title" />
	<input name='contentTime' type='text' id='contentTime' class='form-control' placeholder="mm/dd/yyyy HH:mm" />
	<input name='contentDescription' type='text' id='contentDescription' class='form-control' placeholder="Content Description" />
	<!--<input name='content' type='text' id='content' class='form-control' placeholder='Content' />-->
	<h5>Related Meeting</h5>
	<!--<input name='type' type='text' id='newType' class='form-control' placeholder='Meeting' />-->
	<select id="meeting" size="6" class="form-control">
		<% for meeting in @userMeetings['meetings'] %>
		<option value="<%= meeting['id'] %>"><%= meeting['title'] %></option>
		<% end %>
	</select>
</form>
