<span>* Indicates required fields.</span>

<form name='input' id='createGroup' onsubmit='validateDocument()'>
	<h5>Agenda Title</h5>
	<input name='title' type='text' id='newTitle' class='form-control' placeholder='Title' />
	<h5>Related Meeting</h5>
	<input name='type' type='text' id='newType' class='form-control' placeholder='Meeting' />
	<h5>Content</h5>
	<input name='desc' type='text' id='newDesc' class='form-control' placeholder='Content' />
</form>