
<!-- Document TITLE -->
<span class='viewLabel'>Title:</span>
<br />
<span class='viewData' id='titleV'></span>

<!-- Document CONTENT -->
<br />
<span class='viewLabel'>Content: </span>
<br />
<span class='viewData' id='contentV'></span>
