
<!-- Document TITLE -->
<span class='viewLabel'>Title:</span>
<br />
<span class='viewData' id='titleD'></span>

<!-- Document CONTENT -->
<br />
<span class='viewLabel'>Content: </span>
<br />
<span class='viewData'></span>
