<!--Agenda Title -->
<strong><span class="viewLabel">Title:</span></strong>
<br />
<span class="viewData" id="AtitleV"> </span>

<br />
<br />

<!--Agenda Created By -->
<strong><span class="viewLabel">Created By:</span></strong>
<br />
<span class="viewData" id="AuserIDV"></span>

<br />
<br />

<!--Agenda Meeting -->
<strong><span class="viewLabel">Meeting:</span></strong>
<br />
<span class="viewData" id="AmeetingIDV"></span>

<br />
<br />

<!--Agenda Content -->
<strong><span class="viewLabel">Content:</span></strong>
<br />
<strong><span class="viewData">Topic:</span></strong>
<span class="viewData" id="AcontentTitleV"></span>
<br />
<br />		
<strong><span class="viewData">Duration:</span></strong>
<span class="viewData" id="AcontentTimeV"></span>
<br />
<br />		
<strong><span class="viewData">Description:</span></strong>
<span class="viewData" id="AcontentDescriptionV"></span>
<!-- need to handle contents within contents -->
<!-- need to handle multiple contents -->
