<!-- 
~~~~ NOTES ~~~~
+ row height = 38px

-->
<div class="col-md-6">
	<%= render "panes/collapse_bridge_pane" %>
</div>
<div class="col-md-6">
	<%= render 'panes/calendar_pane' %>
</div>

<!-- <%= render "panes/test_pane" %> -->

