<!-- 
~~~~ NOTES ~~~~
+ row height = 38px

-->
<div class='row'>
	<input type='button' class='col-md-5 col-md-offset-1 btn btn-warning' value="That's My Secret Captain..." />
	<input type='button' class='col-md-5 btn btn-danger' value="I'm Always Angry" />
</div>
<% render "panes/meeting_pane" %>