<p>
  <br />
  <span style="font-size:28px;"><strong><span style="font-size:18px;">Topic: </span></strong></span>
  <input id="titleE" name="title" type="text" maxlength="50" size="25">
</p>
<p>
  <br>
  <span style="font-size:28px;">
    <strong><span style="font-size:18px;">Deadline: </span></strong>
  </span>
  <input id="deadlineE" name="deadline" type="text" placeholder="mm/dd/yyyy HH:MM" maxLength="17" size="17">
</p>
<p>
  <br>
  <span style="font-size:28px;">
    <strong><span style="font-size:18px;">Assigned To: </span></strong>
  </span>
  <input id="assignedToE" name="assignee" type="text" maxLength="20" size="10" >
</p>
<p>
  <br>
  <span style="font-size:28px;">
    <strong><span style="font-size:18px;">Description: </span></strong>
  </span>
  <input id="descriptionE" name="description" type="text" maxlength="1000" size="25" >
</p>
<p>
  <br>
  <span style="font-size:28px;">
    <strong><span style="font-size:18px;">Completion Criteria: </span></strong>
  </span>
  <input id="completionCriteriaE" name="completionCriteria" type="text" maxLength="500" size="25" >
</p>
<p>
  <br>
  <span style="font-size:28px;">
    <strong><span style="font-size:18px;">Complete: </span></strong>
  </span>
  <input id="isCompletedE" name="isCompleted" type="checkbox">
</p>