<h5>Topic: </h5>
<input id="titleE" name="title" type="text" maxlength="50" size="25">

<br />
<h5>Deadline: </h5>
<input id="deadlineE" name="deadline" type="text" placeholder="mm/dd/yyyy HH:MM" maxLength="17" size="17">

<br />
<h5>Assigned To: </h5>
<input id="assignedToE" name="assignee" type="text" maxLength="20" size="10" >

<br />
<h5>Description: </h5>
<input id="descriptionE" name="description" type="text" maxlength="1000" size="25" >

<br />
<h5>Completion Criteria: </h5>
<input id="completionCriteriaE" name="completionCriteria" type="text" maxLength="500" size="25" >

<br />
<h5>Complete: </h5>
<input id="isCompletedE" name="isCompleted" type="checkbox">