
<form id="editTaskForm">
	<strong><span class="viewLabel">Topic:</span></strong>
	<br />
	<input id="titleE" name="title" type="text" maxlength="50" class='form-control'>
	<span id="titleER" class="required"> Required </span>
	<br />

	<strong><span class="viewLabel">Deadline: </span></strong>
	<br />

	<input type="date" id="deadlinedateE" name="dateStart" class="form-control formDate" />
	<span id="dateStartER" class="required"> Required </span>
	<input type="time" id="deadlinetimeE" name="timeStart" class="form-control formTime" />
	<span id="timeStartER" class="required"> Required </span>
	<br />

	<!-- <strong><span class="viewLabel">Assigned To:</span></strong>
	<br />
	<select id='grpMemSlct' size='6' class='form-control'>
			<option disabled>Select multiple by holding Ctrl/CMD</option>
			<% for user in @allUsers['users'] %>
			<option value="<%= user['userID'] %>"><%= user['name'] %></option>
			<% end %>
	</select>

	<br /> -->

	<strong><span class="viewLabel">Description:</span></strong>
	<br />
	<input id="descriptionE" name="description" type="text" maxlength="1000" class='form-control'>
	<span id="descriptionER" class="required"> Required </span>
	<br /> 

	<strong><span class="viewLabel">Completion Criteria:</span></strong>
	<br />
	<input id="completionCriteriaE" name="completionCriteria" type="text" maxLength="500" class='form-control'>
	<span id="completionCriteriaER" class="required"> Required </span>
	<br />

	<strong><span class="viewLabel">Complete:</span></strong>
	<br />
	<input id="isCompletedE" name="isCompleted" type="checkbox" class='form-control'>
</form>