
 <p><br>
      <span style="font-size:28px;"><strong><span style="font-size:18px;">Topic: </span></strong></span>
<form id="title" action="" method="post">
	<input type="text" maxlength="50" size="25">
</form>
	</p>
    <p><br>
      <span style="font-size:28px;"><strong><span style="font-size:18px;">Description: </span></strong></span>
<form id="description" action="" method="post">
	<input type="text" maxlength="1000" size="25">
</form>
</p>
	<p><br>
	<span style="font-size:28px;"><strong><span style="font-size:18px;">Deadline: </span></strong></span>
<form id="deadline" action="" method="post">
	<input type="text" placeholder="Date (mm/dd/yyyy)" maxLength="10" size="14">
	<input type="text" placeholder="Time" maxLength="10" size="9">
</form>
</p>
	<p><br>
	<span style="font-size:28px;"><strong><span style="font-size:18px;">Completion Criteria: </span></strong></span>
<form id="completionCriteria" action="" method="post">
	<input type="text" maxLength="500" size="25">
</form>
</p>
	<p><br>
	<span style="font-size:28px;"><strong><span style="font-size:18px;">Assigned to: </span></strong></span>
<form id="assignee" action="" method="post">
	<input type="text" maxLength="20" size="10">
</form>
</p>
    <p>
      &nbsp;</p>
<p><br>

