<span style="font-size:28px; color:#f00;">All fields are required. </span>

<form name="input" id="createTask" action ="http://csse371-04.csse.rose-hulman.edu/Task/" onsubmit="return validateForm()" method="post">

	<span class='viewLabel'>Topic: </span>
	<br />
	<input type="text" name="title" maxlength="50" size="25" />

	<br /><br />
	<span class='viewLabel'>Description: </span>	
	<br />
	<input type="text" name="description" maxlength="1000" size="25" />

	<br /><br />
	<span class='viewLabel'>Deadline: (please use military time) </span>
	<br />
	<input type="text" name="deadline" placeholder="mm/dd/yyyy HH:MM" maxLength="16" size="25" />

	<br /><br />
	<span class='viewLabel'>Completion Criteria: </span>
	<br />
	<input type="text" name="completionCriteria" maxLength="500" size="25" />

	<br /><br />
	<span class='viewLabel'>Assigned to: </span>
	<br />
	<input type="text" name="assignedTo" maxLength="20" size="10" />
	<input type="hidden" name="isCompleted" value="false" />
	<input type="hidden" name="dateCreated" value="<%= Time.now.strftime("%m/%d/%Y %H:%M") %>" />
	<input type="hidden" name="createdBy" value="oharace" /> <!-- Change this to current user -->
	<input type="hidden" name="assignedFrom" value="oharace" /> <!-- Change this to current user -->
	<input type="hidden" name="dateAssigned" value="<%= Time.now.strftime("%m/%d/%Y %H:%M") %>" /> <!-- Change this too -->
</form>
