<!-- TASK TITLE -->
<div class="centerText">
  <span class="viewTitle" id="titleV"></span>
</div>

<!-- TASK DEADLINE -->
<br />
<span class='viewLabel'>Deadline:</span>
<br />
<span class='viewData' id="deadlineV"></span>

<!-- TASK ASSIGNEES -->
<br /><br />
<span class='viewLabel'>Assigned To:</span>
<br />
<span class='viewData' id="assignedToV"></span>

<!-- TASK ASSIGNER -->
<br /><br />
<span class='viewLabel'>Assigned By:</span>
<br />
<span class='viewData' id="assignedFromV"></span>

<!-- TASK DESCRIPTION -->
<br /><br />
<span class='viewLabel'>Description:</span>
<br />
<span class='viewData' id="descriptionV"></span>

<!-- TASK COMPLETION CRITERIA -->
<br /><br />
<span class='viewLabel'>Completion Criteria:</span>
<br />
<span class='viewData' id="completionCriteriaV"></span>

<!-- TASK COMPLETION STATUS -->
<br /><br />
<span class='viewLabel'>Complete:</span>
<br />
<span class='viewData' id="isCompletedV"></span>

<!-- TASK CREATOR -->
<br /><br />
<span class='viewLabel'>Created By:</span>
<br />
<span class='viewData' id="createdByV"></span>

<!-- TASK CREATION DATE -->
<br /><br />
<span class='viewLabel'>Created Date:</span>
<br />
<span class='viewData' id="dateCreatedV"></span>