<p style="text-align:center;">
  <span style="font-size:28px;" id="titleV"></span>
</p>

<br />
<span class='viewLabel'>Deadline: </span>
<span id="deadlineV"></span>

<br /><br />
<span class='viewLabel'>Assigned To: </span>
<br />
<span id="assignedToV"></span>

<br /><br />
<span class='viewLabel'>Date Assigned: </span>
<br />
<span id="dateAssignedV"> </span>

<br /><br />
<span class='viewLabel'>Assigned By: </span>
<br />
<span id="assignedFromV"> </span>

<br /><br />
<span class='viewLabel'>Description: </span>
<br />
<span id="descriptionV"> </span>

<br /><br />
<span class='viewLabel'>Completion Criteria: </span>
<br />
<span id="completionCriteriaV"> </span>

<br /><br />
<span class='viewLabel'>Complete: </span>
<br />
<span id="isCompletedV"> </span>

<br /><br />
<span class='viewLabel'>Created By: </span>
<br />
<span id="createdByV"> </span>

<br /><br />
<span class='viewLabel'>Created Date: </span>
<br />
<span id="dateCreatedV"> </span>