<p style="text-align:center;">
  <span style="font-size:28px;" id="titleV"></span>
</p>
<p>
  <br>
  <span style="font-size:28px;">
    <strong><span style="font-size:18px;">Deadline: </span></strong>
  </span>
<span id="deadlineV"></span>
</p>
<p>
  <br>
  <span style="font-size:28px;">
    <strong><span style="font-size:18px;">Assigned To: </span></strong>
  </span>
  <span id="assignedToV"></span>
</p>
<p>
  <br>
  <span style="font-size:28px;">
    <strong><span style="font-size:18px;">Date Assigned: </span></strong>
  </span>
  <span id="dateAssignedV"> </span>
</p>
<p>
  <br>
  <span style="font-size:28px;">
    <strong><span style="font-size:18px;">Assigned By: </span></strong>
  </span>
  <span id="assignedFromV"> </span>
</p>
<p>
  <br>
  <span style="font-size:28px;">
    <strong><span style="font-size:18px;">Description: </span></strong>
  </span>
  <br />
  <span id="descriptionV"> </span>
</p>
<p>
  <br>
  <span style="font-size:28px;">
    <strong><span style="font-size:18px;">Completion Criteria: </span></strong>
  </span>
  <br />
  <span id="completionCriteriaV"> </span>
</p>
<p>
  <br>
  <span style="font-size:28px;">
    <strong><span style="font-size:18px;">Complete: </span></strong>
  </span>
  <span id="isCompletedV"> </span>
</p>
<p>
  <br>
  <span style="font-size:28px;">
    <strong><span style="font-size:18px;">Created By: </span></strong>
  </span>
  <span id="createdByV"> </span>
</p>
<p>
  <br>
  <span style="font-size:28px;">
    <strong><span style="font-size:18px;">Created Date: </span></strong>
  </span>
  <span id="dateCreatedV"> </span>
</p>
