<style type="text/css">
header > h1 { display: inline-block; }
</style>

<header><h1 style='margin-left: 15%; margin-right: auto;'>Tasks</h1>   <a href='new'><span style='font-size: 1.3em;' class='glyphicon glyphicon-plus'></span></a></header>

<table class='table table-hover table-striped' style='width: 70%; margin-left: 15%; margin-right: auto;'>
  <thead>
    <tr >
      <th>Due</th>
      <th>Task Name</th>
      <th>Project</th>
    </tr>
  </thead>
  <tr>
    <td>Saturday 15 March</td>
    <td>Get Elected</td>
    <td><a href="#">Elect Morris</a></td>
  </tr>
  <tr>
    <td>30 April 1945</td>
    <td>Liberate</td>
    <td><a href="#">Dragoon</a></td>
  </tr>
  <tr>
    <td>1 April 2013</td>
    <td>Do Everything</td>
    <td><a href="#">Just Kidding</a></td>
  </tr>
</table>
