
    <p>
      <h1><center>Task:</center></h1></p>
    <p>
      <h2><center>Time :: Date :: Location</center></h2></p>
    <p><br>
      Description:</p>
    <p><br>
      Owner/Responsible:
      <ul>
	<li>
	    List users here</li>
	</ul></p>
    <p><br><br><br>
     Due date: </p>
    <p><br><br>
      Comments: 
      #Greg: "Could we please... now..."
      <br>
      <br>
      <form>
	<input type="text" maxlength="1000" size="6">
	<input type="submit" value="Submit">"
      </form>  
    </p>
    <p>
      <br><br><br><br><br>
      Mark as: 
      <form>
	<input type="checkbox">Incompplete
	<input type="checkbox">Partial
  <input type="checkbox">Requesting Approval
	<input type="checkbox">Complete
      </form>
    <p>
      Comments:</p>
      <form>
	<input type="text" maxlength="1000" size="6">
      </form>
    <p><br>
      <form>
	<input type="submit" value="Re-Open Task">  <input type="submit" value="Submit">
      </form></p>
    <p>
      &nbsp;</p>
    <p>
      &nbsp;</p>

