<p>
      <h1><center>Tasks Assigned to [Username]:</center></h1></p>
    <p>
    <br>
    <br>
    <table style='color: white;'>
  <tr style='color: white;'>
    <th style='color: white;'>Task</th>
    <th style='color: white;'>Start Date</th>
    <th style='color: white;'>Due Date</th>
    <th style='color: white;'>Progress</th>
  </tr>
  <tr>
    <td style='color: white;'><a href="index">Task Name #1</a></td>
    <td style='color: white;'>01/02/03</td>
    <td style='color: white;'>04/05/06</td>
    <td style='color: white;'>In Progress</td>    
  </tr>
   <tr>
    <td style='color: white;'><a href="index">Task Name #2</a></td>
    <td style='color: white;'>07/08/09</td>
    <td style='color: white;'>10/11/12</td>
    <td style='color: white;'>Completed</td>    
  </tr>
   <tr>
    <td style='color: white;'><a href="index">Task Name #3</a></td>
    <td style='color: white;'>01/02/13</td>
    <td style='color: white;'>04/05/13</td>
    <td style='color: white;'>Not Started</td>    
  </tr>
</table>

