// Place all the styles related to the Groups controller here.
// They will automatically be included in application.css.
// You can use Less here: http://lesscss.org/

#grpMemSlct{
	width: 50%;
}

.newTitle{
	width: 40%;
}

.newType{
	width: 40%;
}

.newDesc{
	width: 80%;
}

.viewLabel{
	font-size: 18px;
}

.viewData{
	font-size: 16px;
}