// Place all the styles related to the Meetings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.AbsCenter{
		margin: 1% auto;
		position: relative;
	}

	body{
		background-color: #1a1a1a;
		color: white;
		font-family: Arial;
	}

	td, th{
		font-size: 1em;
		color: white;
		padding: 3px 7px 2px 7px;
	}

	th{
		font-size: 1.1em;
		text-align: center;
		padding-top: 5px;
		padding-bottom: 4px;
		background-color: #044269;
		color: #ffffff;
	}

	.alt td{
		color: #000000;
		background-color: #F0BC9C;
	}

	table{
		margin: 1% auto;
		width: 60%;
	}

	::-webkit-input-placeholder { font-size: 12px; }
	::-moz-placeholder { font-size: 12px; } /* firefox 19+ */
	input:-moz-placeholder { font-size: 12px; }
	form input[type='text'],
	form input[type='url'],
	form input[type='textarea']{
		height: 16px;
		width: 15%;
	}
	select{
		height: 20px;
	}
	h1{
		font-size: 2.4em;
		font-style: bold;
		font-family: Arial;
		color: white;
		margin-top: 10%;
		text-align: center;
	}

	.checkboxes label
	{
	    display: block;
	    float: left;
	    padding-right: 10px;
	    white-space: nowrap;
	}

	.checkboxes input
	{
	    vertical-align: middle;
	}

	.checkboxes label span
	{
	    vertical-align: middle;
	}
	pre{
		background-color: white;
	}
