// Place all the styles related to the profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

header > h1 {
	display: inline-block;
}

.modal-backdrop {
	z-index: 999;
}

.modal-body{
	width:100%;
}

.pageTitle{
	margin-left: 15%;
	margin-right: auto;
}