<h4>Topic: </h4>
<input id="titleE" name="title" type="text" maxlength="50" size="25">

<h4>Description: </h4>
<input id="descriptionE" name="description" type="text" placeholder="mm/dd/yyyy HH:MM" maxLength="17" size="17" />

<h4>Attendees: </h4>
<input id="attendanceE" name="attendance" type="text" maxLength="20" size="10" />

<h4>Date: </h4>
<input id="datetimeE" name="datetime" type="text" maxlength="1000" size="25" />

<h4>Location: </h4>
<input id="locationE" name="location" type="text" maxLength="500" size="25" />

<h4>Project: </h4>
<input id="projectE" name="project" type="text" />

<h4>Agenda: </h4>
<input id="agendaE" name="completionCriteria" type="agenda" maxLength="500" size="25" />

<h4>Tasks: </h4>
<input id="taskE" name="task" type="text" />