<!-- The name tag on each input is used by the convertFormToJSON() function to label the field associated with that input's value. Eg. <input name="title" /> produces the JSON object {"title":"whateverTheUserInput"}
-->

<form id="editMeetingForm">
	<!-- Meeting Title -->		
	<strong><span class="viewLabel">Topic:</span></strong>
	<br />
	<input type="text" id="titleE" name="title" class="form-control" />

	<br />

	<!-- Meeting Location -->
	<strong><span class="viewLabel">Location:</span></strong>
	<br />
	<table>
		<tr>
			<td>
				<input type="text" id="locationE" name="location" placeholder="Location" class="form-control" />
			</td>
<!-- To be put back in if locations become connected to the back end
			<td style="padding-left: 5px;">
				<input type="button" value="Search Locations" class="form-control" />
			</td>
-->
		</tr>
	</table>

	<br />

	<!-- Meeting DateTime -->
	<strong><span class="viewLabel">Date/Time:</span></strong>
	<br />
	<strong><span class="viewData formTitle">Start:</span></strong>
	<input type="date" id="dateStartE" name="dateStart" placeholder="mm/dd/yyyy" class="form-control formDate" />
	<input type="time" id="timeStartE" name="timeStart" placeholder="HH:MM" class="form-control formTime" />
	<br />
	<br />		
	<strong><span class="viewData formTitle">End:</span></strong>
	<input type="date" id="dateEndE" name="dateEnd" placeholder="mm/dd/yyyy" class="form-control formDate" />
	<input type="time" id="timeEndE" name="timeEnd" placeholder="HH:MM" class="form-control formTime" />

	<br />
	<br />

	<!-- Meeting Description -->
	<strong><span class="viewLabel">Description:</span></strong>
	<br />
	<textarea class="form-control" id="descriptionE" name="description"></textarea>

	<br />

	<!-- Meeting Attendees -->
<!-- ATTENDEES ARE NOT FUNCTIONAL -->
	<strong><span class="viewLabel">Attendees:</span></strong>
	<br />
	<select multiple id="attendanceE" size="6" class="form-control">
		<option disabled>Select multiple by holding Ctrl/CMD</option>
	</select>
</form>
