<!-- <div id = 'menu' style = 'width: 50%; float:left'> -->

<span>* Indicates required fields.</span>

<form name="input" id = "createMeeting" onsubmit="return validateForm()" action ="http://csse371-04.csse.rose-hulman.edu/Meeting/" method = 'post'>
		
		<h5>Topic</h5>
		<input type='text' name = "title" class='form-control'/>
		
		<h5>Description*</h5>
		<textarea class='form-control'></textarea>
		
		<h5>Attendees</h5>
		<select multiple id='attendees' size='6' class='form-control'>
			<option disabled>Select multiple by holding Ctrl/CMD</option>
			<option value='1'>Santa Claus</option>
			<option value='2'>WasARebel</option>
			<option value='3'>KemoSabe</option>
			<option value='4'>CaptainKirk</option>
			<option value='5'>Spock</option>
		</select>
		<!-- <table>
			<tr>
				<td>
					<select id='mylist'>
						<option>Recently Invited</option>
						<optionoption>
						<option>Jerry</option>
						<option>George</option>
						<option>Elaine</option>
					</select>
				</td>
				<td style='padding-left: 5px;'><input type='button' value='Search Users' /></td>
			</tr>
		</table> -->
		
		<h5>Date</h5>
		
		<input type='text' name = "datetime" placeholder='mm/dd/yyyy HH:MM' class='form-control'/>
			
		
		<h5>Location</h5>
		<table>
			<tr>
				<td>
					<input type='text' name ="location" placeholder='Location' class='form-control'/>
				</td>
				<td style='padding-left: 5px;'>
					<input type='button' value='Search Locations' class='form-control'/>
				</td>
			</tr>
		</table>
		
		<h5>Project*</h5>
		<table>
			<tr>
				<td>
					<input type='text' name = 'project' placeholder='Project' class='form-control'/>
				</td>
				<td style='padding-left: 5px;'>
					<input type='button' value='Search Projects' class='form-control'/>
				</td>
			</tr>
		</table>

		<h5>Agenda</h5>
		<table class='fullWidth'>
			<tr>
				<td style='width: 70%'>
					<input type='url' name = 'agenda' class='fullWidth' placeholder='Agenda Title' />
				</td>
				<td style='width: 30%'>
					<input type='button' value='Search Agendas' />
				</td>
			</tr>
		</table>
		
		<!-- </div> -->
		<!-- <div id = 'content' style = 'width: 50%; float:right'> -->
		<h5>Tasks:</h5>
		<input type='text' name = 'task' placeholder='Task' class='form-control'/>
		<select>
			<option>Assigned User</option>
			<option>------------</option>
			<option>other users here</option>
		</select>
		<p>More tasks...</p>
		<!-- 
		<div class='checkboxes'>
		<label><input type='radio' name='schedule' /><span> Accept Suggested Time</span></label>
		<label><input type='radio' name='schedule' /><span> Go to Scheduling Assistant</span></label>
		</div>
		<br /><br />
		<input type='submit' style='font-size: 16px;padding-top: 2px;' name='createMeeting' value='Create Meeting' /> -->
	</form>
<!-- </div> -->



