<!--Meeting Topic -->
<strong><span class="viewLabel">Topic:</span></strong>
<br />
<span class="viewData" id="titleV"> </span>

<br />
<br />

<!--Meeting Location -->
<strong><span class="viewLabel">Location:</span></strong>
<br />
<span class="viewData" id="locationV"></span>


<br />
<br />

<!--Meeting DateTime -->
<strong><span class="viewLabel">Date/Time:</span></strong>
<br />
<strong><span class="viewData formTitle">Start:</span></strong>
<span class="viewData" id="datetimeV"></span>
<br />
<br />		
<strong><span class="viewData formTitle">End:</span></strong>
<span class="viewData" id="endDatetimeV"></span>

<br />
<br />

<!--Meeting Description -->
<strong><span class="viewLabel">Description:</span></strong>
<br />
<span class="viewData" id="descriptionV"></span>

<br />
<br />

<!--Meeting Attendees -->
<strong><span class="viewLabel">Attendees:</span></strong>
<br />
<table class="viewData" id="attendanceV"></table>
