<br />
<span style="font-size:28px;">
	<strong><span style="font-size:18px;" >Topic: </span></strong>
</span>
<br />
<span style = 'font-size: 25px'  id='titleV'> </span>

<br />
<span style="font-size:28px;">
	<strong><span style="font-size:18px;">Description: </span></strong>
</span>
<span> </span>

<br />
<span style="font-size:28px;">
	<strong><span style="font-size:18px;">Attendees: </span></strong>
</span>
<span id='attendeesV'></span>

<br />
<span style="font-size:28px;">
	<strong><span style="font-size:18px;">Date: </span></strong>
</span>
<br />
<span id = 'datetimeV'></span>

<br />
<span style="font-size:28px;" >
	<strong><span style="font-size:18px;">Location: </span></strong>
</span>
<br />
<span id='locationV'></span>

<br />
<span style="font-size:28px;">
	<strong><span style="font-size:18px;">Project: </span></strong>
</span>
<span></span>

<br />
<span style="font-size:28px;">
	<strong><span style="font-size:18px;">Agenda: </span></strong>
</span>
<span></span>

<br />
<span style="font-size:28px;">
	<strong><span style="font-size:18px;">Tasks: </span></strong>
</span>
<span></span>
