<!-- {"meetingID":"@meetingID",“title”:”meeting1”, “location”:”O257”, “datetime”:”Monday, 15-Aug-15 23:59:59 UTC”, “attendance”: [{“John”:”true”}, {“James”:”false”}]} -->


	<br>
	<span style="font-size:28px;">
		<strong><span style="font-size:18px;" >Topic: </span></strong>
	</span>
	<span id='titleV'> </span>
</p>
<p>
	<br>
	<span style="font-size:28px;">
		<strong><span style="font-size:18px;">Description: </span></strong>
	</span>
	<span> </span>
</p>
<p>
	<br>
	<span style="font-size:28px;">
		<strong><span style="font-size:18px;">Attendees: </span></strong>
	</span>
	<span id='attendeesV'></span>
</p>
<p>
	<br>
	<span style="font-size:28px;">
		<strong><span style="font-size:18px;">Date: </span></strong>
	</span>
	<span id = 'datetimeV'></span>
</p>
<p>
	<br>
	<span style="font-size:28px;" >
		<strong><span style="font-size:18px;">Location: </span></strong>
		<br />
		<span id='locationV'></span>
	</span>
</p>
<p>
	<br>
	<span style="font-size:28px;">
		<strong><span style="font-size:18px;">Project: </span></strong>
	</span>
	<br />
	<span></span>
</p>
<p>
	<br>
	<span style="font-size:28px;">
		<strong><span style="font-size:18px;">Agenda: </span></strong>
	</span>
	<span></span>
</p>
<p>
	<br>
	<span style="font-size:28px;">
		<strong><span style="font-size:18px;">Tasks: </span></strong>
	</span>
	<span></span>
</p>