<style type="text/css">
	header > h1 { display: inline-block; }
	.modal-backdrop { z-index: 999; }
	#newMeeting { cursor: pointer; text-align: center; }
</style>

<h1 style='margin-left: 15%; margin-right: auto;'>Meetings</h1>

<!-- Modal -->
<div class="modal fade" id="newMeetingModal" tabindex="-1" role="dialog" aria-labelledby="newMeetingModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <%= render "new" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<table class='table table-hover table-striped' style='width: 70%; margin-left: 15%; margin-right: auto;'>
	<thead>
		<tr >
			<th>Date</th>
			<th>Topic</th>
			<th>Where</th>
			<th>When</th>
			<th>Project</th>
			<th>Agenda</th>
		</tr>
	</thead>
	<tr>
		<td>01/02/03</td>
		<td>Baseball</td>
		<td>Room 42</td>
		<td>6 AM</td>
		<td>Iceman</td>
		<td><a href="link">Agenda Link</a></td>
	</tr>
	<tr class='alt'>
		<td>04/05/06</td>
		<td>Music</td>
		<td>Room 8675309</td>
		<td>12 PM</td>
		<td>Black Knife</td>
		<td><a href="link">Agenda Link</a></td>
	</tr>
	<tr>
		<td>07/08/09</td>
		<td>Cars</td>
		<td>Room 409</td>
		<td>Happy Hour</td>
		<td>Neptune Spear</td>
		<td><a href="link">Agenda Link</a></td>
	</tr>
  	<tfoot>
  		<tr>
    		<th colspan='6' id='newMeeting' href='#newMeetingModal' data-toggle='modal'>
    			<span class='glyphicon glyphicon-plus'></span><span>  Create New</span>
    		</th>
  		</tr>
  	</tfoot>
</table>