<style type="text/css">
header > h1 { display: inline-block; }
</style>

<header><h1 style='margin-left: 15%; margin-right: auto;'>Meetings</h1>   <a href='new'><span style='font-size: 1.3em;' class='glyphicon glyphicon-plus'></span></a></header>

<table class='table table-hover table-striped' style='width: 70%; margin-left: 15%; margin-right: auto;'>
	<thead>
		<tr >
			<th >Date</th>
			<th >Topic</th>
			<th >Where</th>
			<th >When</th>
			<th >Project</th>
			<th >Agenda</th>
		</tr>
	</thead>
	<tr>
		<td>01/02/03</td>
		<td>Baseball</td>
		<td>Room 42</td>
		<td>6 AM</td>
		<td>Iceman</td>
		<td><a href="link">Agenda Link</a></td>
	</tr>
	<tr class='alt'>
		<td>04/05/06</td>
		<td>Music</td>
		<td>Room 8675309</td>
		<td>12 PM</td>
		<td>Black Knife</td>
		<td><a href="link">Agenda Link</a></td>
	</tr>
	<tr>
		<td>07/08/09</td>
		<td>Cars</td>
		<td>Room 409</td>
		<td>Happy Hour</td>
		<td>Neptune Spear</td>
		<td><a href="link">Agenda Link</a></td>
	</tr>
</table>
