<style type="text/css">
	header > h1 { display: inline-block; }
	.modal-backdrop{
		z-index: 999;
	}
</style>

<h1 style='margin-left: 15%; margin-right: auto;'>Meetings</h1>

<!-- Modal -->
<div class="modal fade" id="newMeetingModal" tabindex="-1" role="dialog" aria-labelledby="newMeetingModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <form>
		<h1 style='padding-bottom: 8px'>Create A Meeting</h1>
		<p>Topic</p>
		<input type='text' placeholder="Topic" />
		<br />
		<p>Description</p>
		<textarea placeholder='Description'></textarea>
		<br />
		<p>Attendees</p>
		<table>
			<tr>
				<td>
					<select id='mylist'>
						<option>Recently Invited</option>
						<option>-----------</option>
						<option>Jerry</option>
						<option>George</option>
						<option>Elaine</option>
					</select>
				</td>
				<td style='padding-left: 5px;'><input type='button' value='Search Users' /></td>
			</tr>
		</table>
		
		<pre style='font-size:12px'>	show attendees after they've been selected</pre>
		<br />
		<p>Location</p>
		<table>
			<tr>
				<td>
					<input type='text' style='width: 55%' placeholder='Location' />
				</td>
				<td style='padding-left: 5px;'><input type='button' value='Search Locations' /></td>
			</tr>
		</table>
		<br />
		<p>Project</p>
		<table>
			<tr>
				<td>
					<input type='text' style='width: 55%;' placeholder='Project' />
				</td>
				<td style='padding-left: 5px;'><input type='button' class='btn' value='Search Projects' /></td>
			</tr>
		</table>
		
		<br />
		<p>Agenda</p>
		<table style='width: 100%;'>
			<tr>
				<td style='width: 55%'><input type='url' style='width: 75%' placeholder='Paste Link' /></td>
				<td style='width: 45%'><input type='button' value='Attach Google Doc' /></td>
			</tr>
		</table>
		<br />
		<p style='padding-bottom: 5px'>Approval By:</p>
		<pre style='background-color: white;'>
			<input type='checkbox' /> Chandan
			<input type='checkbox' /> Barack Obama
			<input type='checkbox' /> Warren Buffett
		</pre>
		<br />
		<br />
		Tasks:<br /><br />
		<input type='text' placeholder='Task' />
		<select>
			<option>Assigned User</option>
			<option>------------</option>
			<option>other users here</option>
		</select>
		<br />
		<p style='font-size:12px;'>More tasks...</p>
		<br /><br />
		<div class='checkboxes'>
		<label><input type='radio' name='schedule' /><span> Accept Suggested Time</span></label>
		<label><input type='radio' name='schedule' /><span> Go to Scheduling Assistant</span></label>
		</div>
		<br /><br />
		<input type='submit' class='btn' style='font-size: 16px;padding-top: 2px;' name='createMeeting' value='Create Meeting' />
	</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<table class='table table-hover table-striped' style='width: 70%; margin-left: 15%; margin-right: auto;'>
	<thead>
		<tr >
			<th >Date</th>
			<th >Topic</th>
			<th >Where</th>
			<th >When</th>
			<th >Project</th>
			<th >Agenda</th>
		</tr>
	</thead>
	<tr>
		<td>01/02/03</td>
		<td>Baseball</td>
		<td>Room 42</td>
		<td>6 AM</td>
		<td>Iceman</td>
		<td><a href="link">Agenda Link</a></td>
	</tr>
	<tr class='alt'>
		<td>04/05/06</td>
		<td>Music</td>
		<td>Room 8675309</td>
		<td>12 PM</td>
		<td>Black Knife</td>
		<td><a href="link">Agenda Link</a></td>
	</tr>
	<tr>
		<td>07/08/09</td>
		<td>Cars</td>
		<td>Room 409</td>
		<td>Happy Hour</td>
		<td>Neptune Spear</td>
		<td><a href="link">Agenda Link</a></td>
	</tr>
  	<tfoot>
  		<tr>
    		<th colspan='6' style='cursor: pointer; text-align: center' href='#newMeetingModal' data-toggle='modal'>
    			<span style='/**/' class='glyphicon glyphicon-plus'></span><span style='/**/'>  Create New</span>
    		</th>
  		</tr>
  	</tfoot>
</table>