<div class='prefpage'>
	<br />
	<span style="font-size:20px;margin:5px;">Home Page Options:</span>
	<br />
	<table style="font-size:12px;width:100%;margin:5px;">
		<tr>
			<td style="width:24%;">
				<span>Show Meetings Within:</span> 
			</td>
			<td style="width:24%;">
				<input type="radio" name="group1" value="Day"> Day<br />
				<input type="radio" name="group1" value="Next Day Included">Next Day Included <br/>
				<input type="radio" name="group1" value="Week">Week <br />
				<input type="radio" name="group1" value="Bi-weekly">Bi-weekly <br />
				<input type="radio" name="group1" value="Month">Month <br />
				<input type="radio" name="group1" value="Bi-monthly">Bi-monthly <br />
				<input type="radio" name="group1" value="All">All of the things <br />
			</td>
			<td style="width:4%;">
			</td>
			<td style="width:24%;">
				<span>Show Tasks Within:</span> 
			</td>
			<td style="width:24%;">
				<input type="radio" name="group2" value="Day"> Day<br />
				<input type="radio" name="group2" value="Next Day Included">Next Day Included <br/>
				<input type="radio" name="group2" value="Week">Week <br />
				<input type="radio" name="group2" value="Bi-weekly">Bi-weekly <br />
				<input type="radio" name="group2" value="Month">Month <br />
				<input type="radio" name="group2" value="Bi-monthly">Bi-monthly <br />
				<input type="radio" name="group2" value="All">All of the things <br />
			</td>
		</tr>
	</table>
	<br />
	<br />
	<span style="font-size:20px;margin:5px;">Notifications:</span>
	<br />
	<table style="font-size:12px;width:100%;margin:5px;">
		<tr>
			<td style="width:52%" colspan="3">
				<span style="font-size:14px;">Mobile:</span>
			</td>
			<td style="width:48%" colspan="2">
				<span style="font-size:14px;">Web:</span>
			</td>
		</tr>
		<tr>
			<td style="width:24%;">
				<span>Push Notifications:</span> 
			</td>
			<td style="width:24%;">
				<input type="radio" name="group3" value="Enabled">Enabled<br />
				<input type="radio" name="group3" value="Disabled">Diabled<br/>
			</td>
			<td style="width:4%;">
			</td>
			<td style="width:24%;">
				<span>Ticker-Tape: </span> 
			</td>
			<td style="width:24%;">
				<input type="radio" name="group4" value="Enabled">Enabled<br />
				<input type="radio" name="group4" value="Disabled">Diabled<br/>
			</td>
		</tr>
		<tr>
			<td colspan="5">
				<br />
			</td>
		</tr>
		<tr>
			<td style="width:24%;">
				<span>Notify For:</span> 
			</td>
			<td style="width:24%;">
				<input type="checkbox" name="group5" value="Meetings">Meetings<br />
				<input type="checkbox" name="group5" value="Tasks">Tasks<br/>
				<input type="checkbox" name="group5" value="Meeting Invites">Meeting Invites<br/>
				<input type="checkbox" name="group5" value="Task Assignments">Task Assignments<br/>
				<input type="checkbox" name="group5" value="Seeking Agenda Approval">Seeking Agenda Approval<br/>
				<input type="checkbox" name="group5" value="Meeting Data Updated">Meeting Data Updated<br/>
				<input type="checkbox" name="group5" value="Group Invites">Group Invites<br/>
			</td>
			<td style="width:4%;">
			</td>
			<td style="width:24%;">
				<span>Notify For: </span> 
			</td>
			<td style="width:24%;">
				<input type="checkbox" name="group6" value="Meetings">Meetings<br />
				<input type="checkbox" name="group6" value="Tasks">Tasks<br/>
				<input type="checkbox" name="group6" value="Meeting Invites">Meeting Invites<br/>
				<input type="checkbox" name="group6" value="Task Assignments">Task Assignments<br/>
				<input type="checkbox" name="group6" value="Seeking Agenda Approval">Seeking Agenda Approval<br/>
				<input type="checkbox" name="group6" value="Meeting Data Updated">Meeting Data Updated<br/>
				<input type="checkbox" name="group6" value="Group Invites">Group Invites<br/>
			</td>
		</tr>
	</table>
	<br />
	<br />
	<span style="font-size:20px;margin:5px;">Sidebar Options:</span>
	<br />
	<table style="font-size:12px;width:100%;margin:5px;">
		<tr>
			<td style="width:24%;">
				<span>Collapsable:</span> 
			</td>
			<td style="width:24%;">
				<input type="radio" name="group7" value="Enabled">Enabled<br />
				<input type="radio" name="group7" value="Disabled">Diabled<br/>
			</td>
			<td colspan="3">
			</td>
		</tr>
		<tr>
			<td colspan="5">
				<br />
			</td>
		</tr>
		<tr>
			<td style="width:24%;">
				<span>Show Meetings Within:</span> 
			</td>
			<td style="width:24%;">
				<input type="radio" name="group8" value="Day"> Day<br />
				<input type="radio" name="group8" value="Next Day Included">Next Day Included <br/>
				<input type="radio" name="group8" value="Week">Week <br />
				<input type="radio" name="group8" value="Bi-weekly">Bi-weekly <br />
				<input type="radio" name="group8" value="Month">Month <br />
				<input type="radio" name="group8" value="Bi-monthly">Bi-monthly <br />
				<input type="radio" name="group8" value="All">All of the things <br />
			</td>
			<td style="width:4%;">
			</td>
			<td style="width:24%;">
				<span>Show Tasks Witin: </span> 
			</td>
			<td style="width:24%;">
				<input type="radio" name="group9" value="Day"> Day<br />
				<input type="radio" name="group9" value="Next Day Included">Next Day Included <br/>
				<input type="radio" name="group9" value="Week">Week <br />
				<input type="radio" name="group9" value="Bi-weekly">Bi-weekly <br />
				<input type="radio" name="group9" value="Month">Month <br />
				<input type="radio" name="group9" value="Bi-monthly">Bi-monthly <br />
				<input type="radio" name="group9" value="All">All of the things <br />
			</td>
		</tr>
	</table>
	<br/>
	<button type="button" disabled style="margin-left:10px;margin-bottom:10px;">Submit</button>
	<br />
</div>