<form id = 'EditProfile'>
<h4>Name: </h4>
<input id="nameE" name="name" type="text" maxlength="50" size="25" class='form-control'/>
<span id="nameER" class="required"> Required </span>

<h4>Company: </h4>
<input id="companyE" name="company" type="text" maxLength="17" size="17" class='form-control'/>
<span id="companyER" class="required"> Required </span>

<h4>Job Title: </h4>
<input id="titleE" name="title" type="text" maxLength="20" size="10" class='form-control'/>
<span id="titleER" class="required"> Required </span>

<h4>Location: </h4>
<input id="locationE" name="location" type="text" maxlength="1000" size="25" class='form-control'/>
<span id="locationER" class="required"> Required </span>

<h4>Email: </h4>
<input id="emailE" name="email" type="text" maxLength="500" size="25" class='form-control'/>
<span id="emailER" class="required"> Required </span>
<span id="emailEV" class="required"> Invalid Format XX@XXX.XXX</span>

<h4>Phone: </h4>
<input id="phoneE" name="phone" type="text" class='form-control'/>
<span id="phoneER" class="required"> Required </span>
<span id="phoneEV" class="required"> Invalid Format XXX-XXX-XXXX </span>
</form>