<p>
  <span style="font-size:28px;">
    <strong>
      <input alt="" src="http://dogvacay.com/img/default_profile.jpg" style="width: 150px; height: 150px; border-width: 5px; border-style: solid; margin: 5px 15px; float: left;" type="image" />
      <%= @stuff['email'] %>
    </strong>
  </span>
</p>
<p>
  <br />
  <span style="font-size:28px;">
    <strong>
      <span style="font-size:18px;">Company: Rose-Hulman</span>
    </strong>
  </span>
</p>
<p>
  <br />
  <span style="font-size:28px;"><strong><span style="font-size:18px;">Projects: <a>Infrastructure Replatform</a>, <a>Student Scheduling System</a>, <a>371 Project</a></span></strong></span>
</p>
<p>
  &nbsp;
</p>
<p>
  &nbsp;
</p>
<p>
  <span style="font-size:28px;">
    <strong>
      <span style="font-size:20px;">Current Tasks:</span>
    </strong>
  </span>
</p>
<ul>
  <li>
    <a>
      Get approval on replatform prototype [Due: 1/23/45]
    </a>
  </li>
  <li>
    <a>
      Update Scheduling Syste<span style="font-size:16px;">m to incl</span>ude Kerberos login [Due: 2/34/56]
    </a>
  </li>
  <li>
    <a>Task #3</a>
  </li>
  <li>
    <a>Task #4</a>
  </li>
  <li>
    <a>Task #5</a>
  </li>
</ul>
<p>
  <br />
  <span style="font-size:18px;"><strong>Next Meetings:</strong></span>
</p>
<ul>
  <li>
    <span style="font-size:16px;">
      <a>Meeting with IAIT - Host: Darrell - Agenda:</a>
    </span>
  </li>
  <li>
    <a>
      <span style="font-size:16px;">Meeting #2</span>
    </a>
  </li>
  <li>
    <a>
      <span style="font-size:16px;">Meeting #3</span>
    </a>
  </li>
</ul>