<noscript>
  <h1 style='margin-top: 20%; margin-bottom: auto; text-align: center; text-decoration: underline; font-weight: bolder; font-size: 2em'>YOU DO NOT HAVE JAVASCRIPT ENABLED</h1>
  <h2 style='text-align: center; font-style: italic;'>Please Enable Javascript to Continue Using this Site.</h2>
</noscript>

<br />

<!-- JAVASCRIPT REQUIRED TO ENTER THIS AREA -->
<div id='jsNeeded' hidden>
  <!-- Temporary Login Details -->
  <h4>**** TEMP LOGIN DETAILS ****</h4>
  <h5>Email: hi@hi.com</h5>
  <h5>Password: bye</h5>
  <br />

  <div style='width:40%; margin-left: 30%; margin-right: auto;'>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
      <li class="active"><a href="#loginPane" data-toggle="tab">Login</a></li>
      <li><a href="#registerPane" data-toggle="tab">Register</a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane fade in active" id="loginPane">
        <!-- LOGIN WIDGET -->
        <br />
        <div>
          <form id="loginForm" method="post" role='form'>
            <div class='form-group'>
              <label class='sr-only' for='logEmail'>Email</label>
              <input id='logEmail' class="form-control" name="email" style='width:52%; margin-left: 0%; margin-right: auto' placeholder="Email" type="email" />
            </div>

            <div>
              <label class="sr-only" for='logPass'>Password</label>
              <input id='logPass' class='form-control' name="password" style='margin-left: 0%; margin-right: auto; width:52%' placeholder="Password" type="password" />
              <span id="invalid" class="required"> Invalid Username or Password </span>
            </div>
            <br />
            <input class="btn btn-info" style="margin-left: 0%; margin-right: auto; font-size: 14px; cursor: pointer; visibility: none;" type="submit" value="Login" />
            <!-- <br />
            <p id="invalidLogin" style="text-align: center; color: #F59C17; font-size: 18px; display: none; font-weight: bold; padding-top: 10px;">
              Invalid Username or Password
            </p> -->
          </form>
        </div>
      </div>
      <div class="tab-pane fade" id="registerPane">
        <!-- REGISTER WIDGET -->
        <br />
        <div>
          <form id="registerForm" method="post" role='form'>
            <table style="width: 100%">
              <div class="form-group">
                <label class='sr-only' for='regName'>Full Name</label>
                <input id='regName' class='form-control' name="name" placeholder="Full Name" type="text" />
                <span id="nameR" class="required"> Required </span>
              </div>
              <div class="form-group">
                <label class='sr-only' for='regEmail'>Email</label>
                <input id='regEmail' class='form-control' name="email" placeholder="Email" type="email" />
                <span id="emailR" class="required"> Required </span>
                <span id="emailV" class="required"> Invalid Format XX@XXX.XXX</span>
              </div>
              <div class='row'>
                <div class="col-md-6 form-group">
                  <label class='sr-only' for='p0'>Password</label>
                  <input id='p0' class='form-control' name='password' placeholder='Password' type='password' />
                  <span id="p0R" class="required"> Required </span>
                </div>
                <div class="col-md-6 form-group">
                  <label class='sr-only' for='p1'>Confirm Password</label>
                  <input id="p1" class='form-control' name="passConfirm" placeholder="Confirm password" type="password" onchange="passCheck();" />
                  <span id="p1R" class="required"> Required </span>
                </div>
              </div>
              <div class="form-group">
                <label class='sr-only' for='phone'>Phone</label>
                <input id='phone' name="phone" class='form-control' placeholder="Phone #" type="text" />
                <span id="phoneR" class="required"> Required </span>
                <span id="phoneV" class="required"> Invalid Format XXX-XXX-XXXX </span>
              </div>
              <div class="form-group">
                <label class='sr-only' for='company'>Company</label>
                <input id='company' name="company" class='form-control' placeholder="Company" type="text" />
                <span id="companyR" class="required"> Required </span>
              </div>
              <div class="form-group">
                <label class='sr-only' for='title'>Title</label>
                <input id='title' name="title" class='form-control' placeholder="Title" type="text" />
                <span id="titleR" class="required"> Required </span>
              </div>
              <div class="form-group">
                <label class='sr-only' for='location'>Location</label>
                <input id='location' name="location" class='form-control' placeholder="Location" type="text" />
                <span id="locationR" class="required"> Required </span>
              </div>
              <input class="btn btn-info" type="submit" value="Sign Up" />
            </table>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>