<!-- Javascript -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
<script type="text/javascript">

    function setCookie(c_name,value,exdays){
        var exdate=new Date();
        exdate.setDate(exdate.getDate() + exdays);
        var c_value=escape(value) + ((exdays==null) ? "" : "; expires="+exdate.toUTCString());
        document.cookie=c_name + "=" + c_value + ";path=/";
    }

    function getCookie(c_name){
        var c_value = document.cookie;
        var c_start = c_value.indexOf(" " + c_name + "=");
        if (c_start == -1){
            c_start = c_value.indexOf(c_name + "=");
        }
        
        if (c_start == -1){
            c_value = null;
        }else{
            c_start = c_value.indexOf("=", c_start) + 1;
            var c_end = c_value.indexOf(";", c_start);

            if (c_end == -1){
                c_end = c_value.length;
            }
    
            c_value = unescape(c_value.substring(c_start,c_end));
        }
        return c_value;
    }
    
    function deleteCookie(name){
        document.cookie= name + '=;expires=Thu, 01 Jan 2970 00:00:01 GMT;';
    }

    function ConvertFormToJSON(form){
    	var array = jQuery(form).serializeArray();
    	var json = {};

    	jQuery.each(array, function() {
    		json[this.name] = this.value || '';
    	});

    	return json;

    }

$(window).load(function() { 
    // check if user is already logged in
    if(getCookie('userID')){
        window.location.href = '/home_page/index';
    }

    jQuery('#loginForm').bind('submit', function(event){
        event.preventDefault();

        var form = this;
        var json = new ConvertFormToJSON(form);

        $.ajax({
            type: 'POST',
            url: 'http://csse371-04.csse.rose-hulman.edu/User/Login/',
            data: JSON.stringify(json),
	    	dataType: 'json',
			success:function(data){
				if(data.userID != null){
                    setCookie('userID', data.userID,'7');
				    window.location.href = "/home_page/index";
				}
			}
        });

        return true;
    });

        jQuery('#registerForm').bind('submit', function(event){
        event.preventDefault();

        var regName = document.getElementById('regName');
        var regEmail = document.getElementById('regEmail');
        var pass = document.getElementById('p0');

        if(regName.value == "" || regEmail.value == "" || pass.value == ""){
            alert("You did not enter the required fields.");
            window.location.href = "/";
        }

        var form = this;
        var json = new ConvertFormToJSON(form);
        $.ajax({
            type: 'POST',
            url: 'http://csse371-04.csse.rose-hulman.edu/User/',
            data: JSON.stringify(json),
	    	dataType: 'json',
			success:function(data){
				if(data.userID != null){

				    window.location.href = "/home_page/index";

				}
			}
        });

        return true;
    });
});
/*function passCheck(){
        var pass0 = document.getElementById('p0').value();
        var pass1 = document.getElementById('p1').value();
        if(pass0 != pass1){
            document.getElementById('p1').style.box-shadow('0 0 5px 4px red;');
        }else{
            document.getElementById('p1').style.box-shadow('none;');
        }
    }*/

/** this doesnt work!!
$(windows).load(function() {
alert("blah");
postFormAsJSON('testing', 'User/Login/');
alert("stuff");
});



function postFormAsJSON(formId, urlEnding){
    jQuery('#'+ formId).bind('submit', function(event){
        event.preventDefault();


alert("FormId:" + formId);
alert("urlEnding:" + urlEnding);

        var form = this;
        var json = new ConvertFormToJSON(form);

        $.ajax({
            type: 'POST',
            url: 'http://csse371-04.csse.rose-hulman.edu/' + urlEnding,
            data: JSON.stringify(json),
	    dataType: 'json'
        });


        return true;
    });
}

**/

</script>

<div style=>
<h1>**** TEMP LOGIN DETAILS ****</h1>
<h2>Email: test@meetingninja.com</h2>
<h2>Password: changeme</h2>
</div>
<br />
<div>
<h1>Login</h1>
            <p>Welcome to our Web App! Please enter credentials below </p>
            <form id="loginForm" method="post">
                <input name="email" placeholder="Email" type="text" />
                <input name="password" placeholder="Password" type="password" />
                <input class="button" style="font-size: 14px; cursor: pointer; visibility: none;" type="submit" value="Login" />
                <br />
                <p id="invalidLogin" style="text-align: center; color: #F59C17; font-size: 18px; display: none; font-weight: bold; padding-top: 10px;">
                Invalid Username or Password</p>
                <a style="color: white; text-decoration: none; line-height: 62px; padding-left: 46%; cursor: pointer">
                Forgot?</a>
            </form>
</div>
<div>
            <form id="registerForm" method="post">
                <table style="width: 100%">
                    <input id='regName' name="name" placeholder="Full Name" type="text" required />
                    <input id='regEmail' name="email" placeholder="Email" type="email" required />
                    <input id='p0' name='password' placeholder='Password' type='password' required />
                    <input name="phone" placeholder="Phone #" type="text" />
                    <input name="company" placeholder="Company" type="text" />
                    <input name="title" placeholder="Title" type="text" />
                    <input name="location" placeholder="Location" type="text" />
                <input id="p1" name="passConfirm" placeholder="Confirm password" type="password" onchange="passCheck();" />
                    <input class="button" style='font-size: 14px; cursor: pointer' type="submit" value="Sign Up" />
                </table>
            </form>
</div>

<h1>




<div class="container">
    <div class="flat-form">
        <ul class="tabs">
            <li><a class="active" href="#login">Login</a> </li>
            <li><a href="#register">Register</a> </li>
        </ul>
        <div id="login" class="form-action show">
            <h1>Login</h1>
            <p>Welcome to our Web App! Please enter credentials below </p>
            <form id="loginForm" method="post">
                <input placeholder="Email" type="text" />
                <input placeholder="Password" type="password" />
                <input class="button" style="font-size: 14px; cursor: pointer; visibility: none;" type="submit" value="Login" />
                <br />
                <p id="invalidLogin" style="text-align: center; color: #F59C17; font-size: 18px; display: none; font-weight: bold; padding-top: 10px;">
                Invalid Username or Password</p>
                <a style="color: white; text-decoration: none; line-height: 62px; padding-left: 46%; cursor: pointer">
                Forgot?</a>
            </form>
        </div>
        <!-- /#login.form-action 
        <div id="register" class="form-action hide">
            <h1>Register</h1>
            <p>Enter your details below: </p>
            <form id="registerForm" method="post">
                <table style="width: 100%">
                    <input name="name" placeholder="Full Name" type="text" />
                    <input name="email" placeholder="Email" type="email" />
                    <input id='p0' name='password' placeholder='Password' type='password' />
                    <input name="phone" placeholder="Phone #" type="text" />
                    <input name="company" placeholder="Company" type="text" />
                    <input name="title" placeholder="Title" type="text" />
                    <input name="location" placeholder="Location" type="text" />
                <!-- <input id="p1" name="passConfirm" placeholder="Confirm password" type="password" onchange="passCheck();" /> 
                <input class="button" disabled='true' style='font-size: 14px; cursor: pointer' type="submit" value="Sign Up" />
		</table>
            </form>
        </div>
        <!--/#register.form-action
    </div>
</div>



<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script type="text/javascript">
    (function ($) {
        // constants
        var SHOW_CLASS = 'show',
        HIDE_CLASS = 'hide',
        ACTIVE_CLASS = 'active';

        $('.tabs').on('click', 'li a', function (e) {
            e.preventDefault();
            var $tab = $(this),
            href = $tab.attr('href');

            $('.active').removeClass(ACTIVE_CLASS);
            $tab.addClass(ACTIVE_CLASS);

            $('.show')
            .removeClass(SHOW_CLASS)
            .addClass(HIDE_CLASS)
            .hide();

            $(href)
            .removeClass(HIDE_CLASS)
            .addClass(SHOW_CLASS)
            .hide()
            .fadeIn(550);

            if(href == '#register'){
                $('.flat-form').animate({height:560},550);
            }else{
                $('.flat-form').animate({height:410},550);
            }
            
        });
    })(jQuery);
</script>


