<!-- JAVASCRIPT -->
<!-- Global Functions -->
<!-- 
SHA256(s)
setCookie(c_name,value,exdays)
getCookie(c_name)
deleteCookie(name)
-->
<!-- Local Functions -->
<!-- 
ConvertFormToJSON(form)
passCheck()
areCookiesEnabled() 
-->
<!-- PLACE NEW JAVASCRIPT FUNCTIONS IN THE APPROPRIATE JS FILE -->
<!-- SEE FOLDER /web_app/app/assets/javascripts -->

<!-- Check for Javascript on local machine -->
<noscript>
  <h1 style='margin-top: 20%; margin-bottom: auto; text-align: center; text-decoration: underline; font-weight: bolder; font-size: 2em'>YOU DO NOT HAVE JAVASCRIPT ENABLED</h1>
  <h2 style='text-align: center; font-style: italic;'>Please Enable Javascript to Continue Using this Site.</h2>
</noscript>

<br />

<!-- JAVASCRIPT REQUIRED TO ENTER THIS AREA -->
<div id='jsNeeded' hidden>
  <!-- Temporary Login Details -->
  <h1>**** TEMP LOGIN DETAILS ****</h1>
  <h2>Email: hi@hi.com</h2>
  <h2>Password: bye</h2>
  <br />

  <!-- LOGIN WIDGET -->
  <div>
      <h1 style='margin-left: 24%; margin-right: auto'>Login</h1>
      <p style='margin-left: 24%; margin-right: auto'>Welcome to our Web App! Please enter credentials below </p>
      <form id="loginForm" method="post">
          <input name="email" style='width:52%; margin-left: 24%; margin-right: auto' placeholder="Email" type="text" />
          <input name="password" style='margin-left: 24%; margin-right: auto; width:52%' placeholder="Password" type="password" />
          <input class="button" style="margin-left: 24%; margin-right: auto; font-size: 14px; cursor: pointer; visibility: none;" type="submit" value="Login" />
          <br />
          <p id="invalidLogin" style="text-align: center; color: #F59C17; font-size: 18px; display: none; font-weight: bold; padding-top: 10px;">
              Invalid Username or Password
          </p>
          <a style="color: white; text-decoration: none; line-height: 62px; padding-left: 46%; cursor: pointer">
              Forgot?
          </a>
      </form>
  </div>
  <!-- REGISTER WIDGET -->
  <div>
    <form id="registerForm" method="post">
      <table style="width: 100%">
        <input id='regName' name="name" placeholder="Full Name" type="text" required />
        <input id='regEmail' name="email" placeholder="Email" type="email" style='font-size: 18px;height: 38px' required />
        <br />
        <input id='p0' name='password' placeholder='Password' type='password' required />
        <input id="p1" name="passConfirm" placeholder="Confirm password" type="password" onchange="passCheck();" />
        <br />
        <input name="phone" placeholder="Phone #" type="text" />
        <input name="company" placeholder="Company" type="text" />
        <input name="title" placeholder="Title" type="text" />
        <input name="location" placeholder="Location" type="text" />
        <input class="button" style='font-size: 14px; cursor: pointer' type="submit" value="Sign Up" />
      </table>
    </form>
  </div>
</div>