@import "bootstrap";

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 111px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.link {
	color: 	#0000FF;
	margin-right: 10px;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 45%;
  margin-bottom: 15px;
}

input {
  height: auto !important;
}