
<style>

  div.sidebar {
	background-color: #AAA;
	border-right: 2px solid black;
	height: 100%;
	width:100%;
  }

#progressbar {
  width: 80%;
  background-color: black;
  border-radius: 13px; /* (height of inner div) / 2 + padding */
  padding: 3px;
  margin-left: 10%;
}

#progressbar > div {
   background-color: orange;
   height: 20px;
   border-radius: 10px;
}

</style>

<div class="sidebar">

<br class="responsive"><br class="responsive">

<dl>
  <br class="responsive">
  <dt>
    <font size="15">MEETINGS</font>
  </dt>
  <br class="responsive">
</dl>
<br class="responsive">
<br class="responsive">


<div id="progressbar">
  <div style="width:90%; background-color: #ff6347;"></div>
</div>
<div>
  5:09 minutes/seconds
</div>
<br>
<br>
<div id="progressbar">
  <div style="width:40%; background-color: springgreen;"></div>
</div>
<div>
  6:13 hours/minutes
</div>
<br>
<br>
<div id="progressbar">
  <div style="width:70%; background-color: lightskyblue;"></div>
</div>
<div>
  3:16 days/hours
</div>
<br>
<br>
<div id="progressbar">
  <div style="width:50%; background-color: lightskyblue;"></div>
</div>
<div>
  5:21 days/hours
</div>
<br>
<br>
<div id="progressbar">
  <div style="width:60%; background-color: lightgray;"></div>
</div>
<div>
  2:05 weeks/days
</div>



</div>

