<style type="text/css">
  body{
    padding: 0px;
  }
  .center {
    margin-left: auto;
    margin-right: auto;
  }
  .center.navbar .nav,
  .center.navbar .nav > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
    *zoom:1; /* hasLayout ie7 trigger */
    vertical-align: top;
  }
  .center.navbar-inner {
    text-align:center;
  }
  .center .dropdown-menu {
    text-align: left;
  }
  .navbar-inner {
    margin: 0 auto;
  }
</style>
<!-- Sitewide Navbar -->
<!-- Begin -->
<nav class='navbar navbar-default navbar-static-top' role='navigation'>
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/home_page/index">Meeting Ninja &#8482;</a>
  </div>
  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
      <p class="navbar-text">Welcome <a href="/profile/index" class="navbar-link">YourNameHere<!-- <%= @userInfo['name'] %> --></a>!</p>
      <li><a href="/meetings/index">Meetings <span class='glyphicon glyphicon-time'></span><!-- <span class='glyphicon glyphicon-calendar'></span> --></a></li>
      <li><a href="/tasks/index">Tasks <span class='glyphicon glyphicon-tasks'></span></a></li>
      <li><a href="/groups/index">Groups <span class='glyphicon glyphicon-globe'></span></a></li>
      <li><a href="/preferences/home">Settings <span class='glyphicon glyphicon-cog'></span></a></li>
      <li><a href="/login/index"><i class='fa fa-sign-out fa-lg'></i></a></li>
    </ul>
  </div>

  
  <!-- End -->

  <script type="text/javascript">
    $(document).ready(function(){
      $("[rel=tooltip]").tooltip({ placement: 'right'});
    });
  </script>