<!-- Sitewide Bottom Bar -->
<!-- Begin -->
<footer>
  <nav class='navbar navbar-static-bottom navbar-centered navbar-inner center'>
    <div class='collapse navbar-collapse' id='bs-example-navbar-collapse-1'>
      <ul class='nav navbar-nav'>
        <p class='navbar-text'><a href="#" class="navbar-link">About</a></p>
        <p class='navbar-text'><a href="#" class="navbar-link">Contact Us</a></p>
        <p class='navbar-text'><a href="#" class="navbar-link">Privacy Policy</a></p>
        <p class='navbar-text'><a href="#" class="navbar-link">Terms of Use</a></p>
        <p class='navbar-text'><a href="#" class="navbar-link">Help</a></p>
      </ul>
    </div>
  </nav>
</footer>
  <!-- End -->