<style type="text/css">
  body{
    padding: 0px;
  }
  .center {
    margin-left: auto;
    margin-right: auto;
  }
  .center.navbar .nav,
  .center.navbar .nav > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
    *zoom:1; /* hasLayout ie7 trigger */
    vertical-align: top;
  }
  .center.navbar-inner {
    text-align:center;
  }
  .center .dropdown-menu {
    text-align: left;
  }
  .navbar-inner {
    margin: 0 auto;
  }
</style>
<!-- Sitewide Bottom Bar -->
<!-- Begin -->
<footer>
  <nav class='navbar navbar-fixed-bottom navbar-centered navbar-inner center'>
    <div class='collapse navbar-collapse' id='bs-example-navbar-collapse-1'>
      <ul class='nav navbar-nav'>
        <p class='navbar-text'><a href="#" class="navbar-link">About</a></p>
        <p class='navbar-text'><a href="#" class="navbar-link">Contact Us</a></p>
        <p class='navbar-text'><a href="#" class="navbar-link">Privacy Policy</a></p>
        <p class='navbar-text'><a href="#" class="navbar-link">Terms of Use</a></p>
        <p class='navbar-text'><a href="#" class="navbar-link">Help</a></p>
      </ul>
    </div>
  </nav>
</footer>
  <!-- End -->