<div class="row-fluid">
	<div class="span3 offset2">
		<strong> Task #1 </strong>
	</div>
	<div class="span4 offset2">
		Status 1 - 2 - 3 - 4 - 5 - 6
	</div>
</div>

<div class="row-fluid">
	<div class="span3 offset2">
		<strong> Task #2 </strong>
	</div>
	<div class="span4 offset2">
		Status 1 - 2 - 3 - 4 - 5 - 6
	</div>
</div>

<div class="row-fluid">
	<div class="span3 offset2">
		<strong> Task #3 </strong>
	</div>
	<div class="span4 offset2">
		Status 1 - 2 - 3 - 4 - 5 - 6
	</div>
</div>

<div class="row-fluid">
	<div class="span3 offset2">
		<strong> Task #4 </strong>
	</div>
	<div class="span4 offset2">
		Status 1 - 2 - 3 - 4 - 5 - 6
	</div>
</div>

<div class="row-fluid">
	<div class="span3 offset2">
		<strong> Task #5 </strong>
	</div>
	<div class="span4 offset2">
		Status 1 - 2 - 3 - 4 - 5 - 6
	</div>
</div>
<br>
<br>
<div style="text-align:center">
	<select>
		<option value="tasks_today">Tasks Today</option>
		<option value="tasks_weekly">Tasks this Week</option>
		<option value="tasks_monthly">Tasks this Month</option>
	</select>

	<button type="button" onclick="window.location.href='/tasks/new'"> Create a Task</button>
</div>
