
<style>
  div.sidebar {
	background-color: #AAA;
	border-left: 2px solid black;
	height: 100%;
	width:100%;
  }

</style>

<div class="sidebar">

<br class="responsive"><br class="responsive">

<dl>
  <br class="responsive">
  <dt>
    <font size="15">TASKS</font>
  </dt>
  <br class="responsive">
</dl>
<br class="responsive">
<br class="responsive">


<a> <font size="6">task1</font> </a>
<br>
<br>
<br>
<a> <font size="6">task2</font> </a>
<br>
<br>
<br>
<a> <font size="6">task3</font> </a>
<br>
<br>
<br>
<a> <font size="6">task4</font> </a>
<br>
<br>
<br>
<a> <font size="6">task5</font> </a>
<br>
<br>
<br>
<a> <font size="6">task6</font> </a>
<br>
<br>
<br>
<a> <font size="6">task7</font> </a>
<br>
<br>
<br>

</div>
