<style>
  .navbar-fixed-top .container {
    height: 60px;
	width:80%;
 /* height here needs to be offset with the same number in application -> style -> body -> padding-top */
	position:absolute;
	right:0px;
  }

  .navbar-inner {
    padding: 0px;
  }

</style>

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
      <dt class="pageHeader">
            The Super Awesome Site That Still Needs a Name<sup>&reg;</sup>
      </dt>
    <div class="container">
<div class="nav-collapse">
        <ul class="nav pull-right">

          <li <%= if(request.fullpath == '/')
    " class='active'".html_safe
  end %>>
            <a id="stick-right" href="/"> Home </a>
          </li>

          <li>
            <a id="stick-right" href="#"> Meetings </a>
          </li>
		  <li>
			<a id="stick-right" href="/tasks/index"> Tasks </a>
		  </li>
		  <li>
			<a id="stick-right" href="/groups/index"> Groups </a>
		  </li>
		  <li>
			<a id="stick-right" href="/profile/index"> Profile </a>
		  </li>
		  <li>
			<a id="stick-right" href="#"> Notifications </a>
		  </li>
		  <li>
			<a id="stick-right" href="#"> Settings </a>
		  </li>
		  <li>
			<a id="stick-right" href="/login/index"> Log Out </a>
		  </li>
        </ul>

</div>

    </div>
  </div>
</div>

