<p>
  <br />
  <span style="font-size:28px;"><strong><span style="font-size:18px;">Group Title: </span></strong></span>
  <input id="titleE" class="form-control" name="title" type="text" style="width:40%">
</p>
<p>
  <br>
  <span style="font-size:28px;">
    <strong><span style="font-size:18px;">Group Type: </span></strong>
  </span>
  <input id="typeE" class="form-control" name="description" type="text" style="width:40%">
</p>
<p>
  <br>
  <span style="font-size:28px;">
    <strong><span style="font-size:18px;">Description: </span></strong>
  </span>
  <input class="form-control" name="attendance" type="text" style="width:80%" size="10" >
</p>
<p>
  <br>
  <span style="font-size:28px;">
    <strong><span style="font-size:18px;">Group Members: </span></strong>
  </span>
  <select multiple id="grpMemSlct" size='6' style='width:50%' class="form-control">
    <option disabled>Select multiple by holding Ctrl/CMD</option>
    <option value='1'>Santa Claus</option>
    <option value='2'>WasARebel</option>
    <option value='3'>KemoSabe</option>
    <option value='4'>CaptainKirk</option>
    <option value='5'>Spock</option>
  </select>
</p>