<h5>Group Title:</h5>
<input id="titleE" class="form-control newTitle" name="title" type="text" />

<h5>Group Type:</h5>
<input id="typeE" class="form-control newType" name="type" type="text" />

<h5>Description:</h5>
<input class="form-control newDesc" name="description" type="text" size="10" />

<h5>Group Members:</h5>
<select multiple id="grpMemSlct" size='6' class="form-control">
  <option disabled>Select multiple by holding Ctrl/CMD</option>
  <option value='1'>Santa Claus</option>
  <option value='2'>WasARebel</option>
  <option value='3'>KemoSabe</option>
  <option value='4'>CaptainKirk</option>
  <option value='5'>Spock</option>
</select>

