<span>* Indicates required fields.</span>

<form name='input' id='createGroup' onsubmit='validateGroup()'>
	<h5>Group Title</h5>
	<input name='title' type='text' id='newTitle' class='form-control' placeholder='Title' />
	<h5>Description</h5>
	<input name='desc' type='text' id='newDesc' class='form-control' placeholder='Description' />
	<h5>Group Members</h5>
	<select multiple id='grpMemSlct' size='6' class='form-control'>
		<option disabled>Select multiple by holding Ctrl/CMD</option>
		<option value='1'>Santa Claus</option>
		<option value='2'>WasARebel</option>
		<option value='3'>KemoSabe</option>
		<option value='4'>CaptainKirk</option>
		<option value='5'>Spock</option>
	</select>
</form>