<h1>Create Group</h1>
<br />
<form>
	<h5>Group Title</h5>
	<input type="text" class="form-control" style='width:40%' placeholder="Title" />
	<br />
	<h5>Group Members</h5>
	<select multiple size='6' style='width:50%' class="form-control">
		<option disabled>Select multiple by holding Ctrl/CMD</option>
		<option value='1'>Santa Claus</option>
		<option value='2'>WasARebel</option>
		<option value='3'>KemoSabe</option>
		<option value='4'>CaptainKirk</option>
		<option value='5'>Spock</option>
	</select>
</form>