<h1>Create Group</h1>
<br />
<form>
<input type="text" class="form-control" style='width:20%' placeholder="Group Title" />
<br />
<select multiple size='6' style='width:22%' class="form-control">
	<optgroup label='Members'>
		<option disabled>Select multiple by holding Ctrl/CMD</option>
	</optgroup>
      <option value='1'>Santa Claus</option>
      <option value='2'>WasARebel</option>
      <option value='3'>KemoSabe</option>
      <option value='4'>CaptainKirk</option>
      <option value='5'>Spock</option>
</select>
</form>