
<br />
<span>
	<strong><span style="font-size:14px;">Group Title:</span></strong>
</span>
<br />
<span style = 'font-size: 18px'  id='titleV'> </span>

<br />
<span>
	<strong><span style="font-size:14px;">Description: </span></strong>
</span>
<br />
<span></span>

<br />
<span>
	<strong><span style="font-size:14px;">Members: </span></strong>
</span>
<br />
<span></span>

<br />
<span>
	<strong><span style="font-size:14px;">Group Type: </span></strong>
</span>
<br />
<span style="font-size: 18px" id="typeV"></span>

