
<!-- GROUP TITLE -->
<span class='viewLabel'>Group Title:</span>
<br />
<span class='viewData' id='titleV'></span>

<!-- GROUP DESCRIPTION -->
<br />
<span class='viewLabel'>Description: </span>
<br />
<span class='viewData'></span>

<!-- GROUP MEMBERS -->
<br />
<span class='viewLabel'>Members: </span>
<br />
<table class='viewData' id = 'TableMembersV'></table>

<!-- GROUP TYPE -->
<!-- <br />
<span class='viewLabel'>Group Type: </span>
<br />
<span class='viewData' id='typeV'></span> -->
