
<br>
	<span style="font-size:28px;">
		<strong><span style="font-size:18px;" >Group Title: </span></strong>
	</span>
</br>
	<span style = 'font-size: 25px'  id='titleV'> </span>
<p>
	<br>
	<span style="font-size:28px;">
		<strong><span style="font-size:18px;">Description: </span></strong>
	</span>
	<span> </span>
</p>
<p>
	<br>
	<span style="font-size:28px;">
		<strong><span style="font-size:18px;">Members: </span></strong>
	</span>
</p>
<p>
	<br>
	<span style="font-size:28px;">
		<strong><span style="font-size:18px;">Group Type: </span></strong>
	</span>
	<br/>
	<span id = 'typeV'></span>
</p>
