
<!-- GROUP TITLE -->
<strong><span class='viewLabel'>Group Title:</span></strong>
<br />
<span class='viewData' id='titleV'> </span>

<!-- GROUP DESCRIPTION -->
<br />
<strong><span class='viewLabel'>Description: </span></strong>
<br />
<span class='viewData'></span>

<!-- GROUP MEMBERS -->
<br />
<strong><span class='viewLabel'>Members: </span></strong>
<br />
<span class='viewData'></span>

<!-- GROUP TYPE -->
<br />
<strong><span class='viewLabel'>Group Type: </span></strong>
<br />
<span class='viewData' id='typeV'></span>
