
<<<<<<< HEAD
<br />
<span>
	<strong><span style="font-size:14px;">Group Title:</span></strong>
</span>
<br />
<span style = 'font-size: 18px'  id='titleV'> </span>

<br />
<span>
	<strong><span style="font-size:14px;">Description: </span></strong>
</span>
<br />
<span></span>

<br />
<span>
	<strong><span style="font-size:14px;">Members: </span></strong>
</span>
<br />
<span></span>

<br />
<span>
	<strong><span style="font-size:14px;">Group Type: </span></strong>
</span>
<br />
<span style="font-size: 18px" id="typeV"></span>

=======
<br>
	<span>
		<strong><span style="font-size:14px;" >Group Title: </span></strong>
	</span>
</br>
	<span style = 'font-size: 25px'  id='titleV'> </span>
<p>
	<br>
	<span>
		<strong><span style="font-size:14px;">Description: </span></strong>
	</span>
	<span> </span>
</p>
<p>
	<br>
	<span>
		<strong><span style="font-size:14px;">Members: </span></strong>
	</span>
</p>
<p>
	<br>
	<span>
		<strong><span style="font-size:14px;">Group Type: </span></strong>
	</span>
	<br/>
	<span id = 'typeV' style = "font-size:18px"></span>
</p>
>>>>>>> 6c1a96d7b1b34fcfe506e7fe75d171bbc77e2d55
