
<br>
	<span>
		<strong><span style="font-size:14px;" >Group Title: </span></strong>
	</span>
</br>
	<span style = 'font-size: 25px'  id='titleV'> </span>
<p>
	<br>
	<span>
		<strong><span style="font-size:14px;">Description: </span></strong>
	</span>
	<span> </span>
</p>
<p>
	<br>
	<span>
		<strong><span style="font-size:14px;">Members: </span></strong>
	</span>
</p>
<p>
	<br>
	<span>
		<strong><span style="font-size:14px;">Group Type: </span></strong>
	</span>
	<br/>
	<span id = 'typeV' style = "font-size:18px"></span>
</p>
