

		<h1>View Project Group</h1>
		<br />
		<br />

		<div>
			Related Information involving users will appear when viewing this groups page:
			<br />
			<br />
			Meetings
			<br />
			Agendas
			<br />
			Minutes
			<br />
			Files
			<br />
			Users
			<br />
			<br />
			All in clicable format, in order to provide an aggregate of information for proects as a whole
		</div>
		<br />
		<br />
		When creating a meeting and adding minutes/agendas/etc, those files will then be linked to this project group, if the Project Name is specified during the creating of the meeting.
		"General" is an appropriate response for a non project related meeting.

		<br />
		<br />
		<br />
		<br />
		<br />
		<br />

		<button type="button" class="sexyButton" onclick="window.location.href='/groups/new'">
			Create Group
		</button>


