<form id="editProjectForm">

<strong><span class="viewLabel">Project Name:</span><strong>
	<br />
	<input type="text" id="titleE" name="title" class="form-control" />

<br />
<br />

<strong><span class="viewLabel">Meetings:</span></strong>
<br />
<select multiple id="TableMeetingsE" size="6" class="form-control">
	<option disabled>Select multiple by holding Ctrl/CMD></option>
	<% for meeting in @userMeetings['meetings'] %>
		<% if !meeting['title'].nil? %>
		<option value="<%= meeting['id'] %>"><%= meeting['title'] %></option>
		<% end %>
		<% end %>
</select>

<br />
<br />

<strong><span class="viewLabel">Members:</span></strong>
<br />
<select multiple id="TableMembersE" size="6" class="form-control">
	<option diabled>Select multiple by holding Ctrl/CMD></option>
	<% for user in @allUsers['users'] %>
		<% if !user['name'].nil? %>
		<option value="<%= user['userID'] %>"><%= user['name'] %></option>
		<% end %>
		<% end %>
</select>

</form>