<h5>Project:</h5>
<input id="titleE" name="title" type="text" maxlength="50" size="25" />

<br />
<h5>Group:</h5>
<input id="groupE" name="group" type="text" maxlength="50" size="25" />

<br />
<h5>Description:</h5>
<input id="descriptionE" name="description" type="text" maxlength="1000" size="25" />

<br />
<h5>Meetings:</h5>
<select name="meetings" id="meetingsE" size="10" multiple="multiple">
</select>

<br />
<h5>Notes:</h5>
<select name="notes" id="notesE" size="10" multiple="multiple">
</select>

<br />
<h5>Members:</h5>
<select name="members" id="membersE" size="10" multiple="multiple">
</select>