<form id="editProjectForm">

<strong><span class="viewLabel">Project Name:</span><strong>
	<br />
	<input type="text" id="titleE" name="title" class="form-control" />

<br />
<br />

<strong><span class="viewLabel">Meetings:</span></strong>
<br />
<select multiple id="TableMeetingsE" size="6" class="form-control">
	<option disabled>Select multiple by holding Ctrl/CMD></option>
</select>

<br />
<br />

<strong><span class="viewLabel">Notes:</span></strong>
<br />
<select multiple id="TableNotesE" size"6" class="form-control">
	<option disabled>Select multiple by holding Ctrl/CMD></option>
</select>

<br />
<br />

<strong><span class="viewLabel">Members:</span></strong>
<br />
<select multiple id="TableMembersE" size="6" class="form-control">
	<option diabled>Select multiple by holding Ctrl/CMD></option>
</select>

</form>