<span style="color:#f00;">* Indicates required fields.</span>
<!--
ADD THIS BACK IN WHEN BACKEND HAS PROJECT IMPLEMENTED
<form name="input" id="createProject" action="http://csse371-04.csse.rose-hulman.edu/Project/" onsubmit="return validateForm()" method="post">
-->
<form name="input" id="createProject" onsubmit="return validateForm()">
	<h5>Project Title:*</h5>
	<input type="text" name="projectTitle" maxlength="50" size="25">
	<br /><br />
	<h5>Associated Meetings:*</h5>
	<input type="text" name="meetings" maxlength="50" size="25">
	<br /><br />
	<h5>Associated Notes:*</h5>
	<input type="text" name="notes" maxlength="50" size="25">
	<br /><br />
	<h5>Members:*</h5>
	<input type="text" name="members" maxlength="50" size="25">
</form>