<span>* Indicates required fields.</span>
<!--
ADD THIS BACK IN WHEN BACKEND HAS PROJECT IMPLEMENTED
<form name="input" id="createProject" action="http://csse371-04.csse.rose-hulman.edu/Project/" onsubmit="return validateForm()" method="post">
-->
<form id="createProject">
	<h5>Project Title:*</h5>
	<input type="text" name="projectTitle" id="projectTitle" maxlength="50" class='form-control'>
	<h5>Associated Meetings:*</h5>
	<select multiple id='meetings' name='meetings' size='6' class='form-control'>
		<option disabled>Select multiple by holding Ctrl/CMD</option>
		<% for meeting in @userMeetings['meetings'] %>
			<% if !meeting['title'].nil? %>
		<option value="<%= meeting['id'] %>"><%= meeting['title'] %></option>
		<% end %>
		<% end %>
	</select>

	<h5>Members:*</h5>
	<select multiple id='members' name="members" size='6' class='form-control'>
		<option disabled>Select multiple by holding Ctrl/CMD</option>
		<% for user in @allUsers['users'] %>
		<% if !user['name'].nil? %>
		<option value="<%= user['userID'] %>"><%= user['name'] %></option>
		<% end %>
		<% end %>
	</select>

</form>