<p style="text-align:center;">
  <span style="font-size:28px;" id="titleV"></span>
</p>
<p>
  <br>
  <span style="font-size:28px;">
    <strong><span style="font-size:18px;">Group: </span></strong>
  </span>
<span id="groupV"></span>
</p>
<p>
  <br>
  <span style="font-size:28px;">
    <strong><span style="font-size:18px;">Description: </span></strong>
  </span>
<span id="descriptionV"></span>
</p>
<p>
  <br>
  <span style="font-size:28px;">
    <strong><span style="font-size:18px;">Meetings: </span></strong>
  </span>
  <table id="TableMeetingsV"></table>
</p>
<p>
  <br>
  <span style="font-size:28px;">
    <strong><span style="font-size:18px;">Notes: </span></strong>
  </span>
  <table id="TableNotesV"></table>
</p>
<p>
  <br>
  <span style="font-size:28px;">
    <strong><span style="font-size:18px;">Members: </span></strong>
  </span>
  <table id="TableMembersV"></table>
</p>