<div class='centerText'>
  <span class='fullWidth' id="titleV"></span>
</div>

<!-- <br />
<h5>Group:</h5>
<span id="groupV"></span>

<br />
<h5>Description:</h5>
<span id="descriptionV"></span> -->

<br />
<h5>Meetings:</h5>
<table id="TableMeetingsV"></table>

<br />
<h5>Notes:</h5>
<table id="TableNotesV"></table>

<br />
<h5>Members:</h5>
<table id="TableMembersV"></table>