<strong><span class="viewLabel">Project Name:</span><strong>
	<br />
	<span class="viewData" id="titleV" name="title"></span>

<br />
<br />

<strong><span class="viewLabel">Meetings:</span></strong>
<br />
<table class="viewData" id="TableMeetingsV"></table>

<br />
<br />

<strong><span class="viewLabel">Notes:</span></strong>
<br />
<table class="viewData" id="TableNotesV"></table>

<br />
<br />

<strong><span class="viewLabel">Members:</span></strong>
<br />
<table class="viewData" id="TableMembersV"></table>